.navbar {
  background-color: #cc6600;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
  height: 0;
  max-width: 1300px;
  padding: 0 50px;
}



.navbar_menu {
  display: flex;
  align-items: flex-start;
  list-style: none;
  margin-left: auto;
  font-size: 20px;
  position: relative;
}

.navbar1_link {
  display: flex;
  justify-content: flex-end;
  font-family:Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: 20px;
  height: 80%;
  color: #fff;
  white-space: nowrap;
  align-items: flex-start;
}
.navbar1_link:hover {
  color: #000000;
  transition: all 0.3s ease;
}
.body-container {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: row;
    align-items: center;
  justify-content: center;
  margin: 40px 20px;
  width: 100%;
}
.left-content {
  flex: 1;
  padding: 20px;
}
.right-content {
  flex: 1;
  padding: 20px;
  
}

.right-content img {
  max-width: 100%; 
  height: auto; 
  display: block; 
  margin-bottom: 50px;
}

.main-heading {
  font-size: 48px;
  font-weight: bold;
}
.sub-heading {
  margin: 20px 0;
  padding: 20px;
  background-color: #cc6600;
  color: #fff;
  display: inline-block;
}
.description {
  margin-top: 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #666;
}
.footer_containers {
  background-color:#cc6600;
  width: 100%;
  padding: 70px 30px 20px;
}

.footer_navbars {
  margin: 20px 0;
}
.footer_navbars ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footer_navbars ul a {
  color: #fff;
  margin: 20px;
  text-decoration: none;
  font-size: 15px;
}
.footer_navbars ul a:hover {
 color: #000000;
 transition: all 0.3s ease;
}
.social_icons {
  display: flex;
  justify-content: center;
}

.socials_icon {
 margin: 10px;
 font-size: 25px;
}
.footer_copywrite {
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding-top: 50px;
}

@media screen and (max-width: 600px) {
  .navbar_container {
    display: flex;
    justify-content: space-between;
    height: 50px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  
  .navbar_menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: 998;
    background-color: #cc6600;
  }
  
  .navbar_menu.active {
    top: 75px;
    opacity: 1;
    z-index: 999;
    
  }
  .navbar_toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar_item {
    width: 100%;
  }

  .navbar1_links {
    text-align: center;
    padding: 8px;
    width: 80%;
    display: table;
    font-size: 15px;
  }

  #mobile_menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
    z-index: 1000;
  }

  .navbar_toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile_menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile_menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile_menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .body-container {
      flex-direction: column;
      align-items: center;
  }
  .footer_navbars li {
    justify-content: center;
    width: 100%;
    margin: 10px;
   }
  
   .footer_navbars ul {
    text-align: center;
    flex-direction: column;
   }
}
